body {
    font-family: Arial, sans-serif;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

header {
    background: #007BFF;
    color: white;
    padding: 10px;
}

#formulario {
    margin: 20px 0;
}

input, button {
    margin: 5px;
    padding: 8px;
}

#listaReservas {
    list-style: none;
    padding: 0;
}